In [1]:
# steps to complete:
# 1) import libraries |||||||||||||||||||||||||||
# 2) import dataset |||||||||||||||||||||||||||
# 3) convert JSON data to columns   |||||||||||||||||||||||||||
# 4) rearrange columns  |||||||||||||||||||||||||||
# 5) create new column of time difference between in and out    |||||||||||||||||||||||||||
# 6) delete rows of adoptable dogs |||||||||||||||||||||||||||
# 7) change true false to 1 - 0    |||||||||||||||||||||||||||
# 6) define x and y    
# 7) split data in training and test data

In [2]:
import numpy as np
import pandas as pd
import json
import matplotlib.pyplot as plt
from pandas import json_normalize
import datetime
import typing
import time

In [3]:
df = pd.read_csv("pet-adoption.csv")
df.drop(['id', 'organization_id', 'url', 'species','organization_animal_id','tags', 'photos','primary_photo_cropped', 'videos', 'distance', 'contact', '_links', 'description', 'breeds', 'colors'], axis=1, inplace=True)
df.head()

,type,age,gender,size,coat,attributes,environment,name,status,status_changed_at,published_at
0,Dog,Young,Male,Small,Short,"{'spayed_neutered': 'True', 'house_trained': '...","{'children': 'None', 'dogs': 'True', 'cats': '...",Ruff,adopted,2020-08-16 18:21:00+00:00,2020-07-21 20:52:42+00:00
1,Dog,Adult,Female,Medium,Medium,"{'spayed_neutered': 'True', 'house_trained': '...","{'children': 'None', 'dogs': 'None', 'cats': '...",Delilah,adopted,2020-07-31 01:39:20+00:00,2020-07-21 13:17:11+00:00
2,Dog,Adult,Male,Extra Large,None,"{'spayed_neutered': 'True', 'house_trained': '...","{'children': 'None', 'dogs': 'None', 'cats': '...",Red,adoptable,2020-07-21 14:00:23+00:00,2020-07-21 14:00:23+00:00
3,Dog,Young,Male,Medium,None,"{'spayed_neutered': 'True', 'house_trained': '...","{'children': 'True', 'dogs': 'True', 'cats': '...",Louie,adopted,2020-07-26 15:50:42+00:00,2020-07-21 20:05:39+00:00
4,Dog,Adult,Male,Medium,Long,"{'spayed_neutered': 'True', 'house_trained': '...","{'children': 'None', 'dogs': 'None', 'cats': '...",Kenny,adopted,2020-07-23 16:00:20+00:00,2020-07-21 17:17:43+00:00

In [4]:
values = [json.loads(value.replace("'", "\"")) for value in df['attributes'].values]
df1 = json_normalize(values)
df1.head()

col = df.columns.difference(['attributes'])
df = pd.concat([df[col], df1],axis=1)
df.head()

,age,coat,environment,gender,name,published_at,size,status,status_changed_at,type,spayed_neutered,house_trained,declawed,special_needs,shots_current
0,Young,Short,"{'children': 'None', 'dogs': 'True', 'cats': '...",Male,Ruff,2020-07-21 20:52:42+00:00,Small,adopted,2020-08-16 18:21:00+00:00,Dog,True,True,None,False,True
1,Adult,Medium,"{'children': 'None', 'dogs': 'None', 'cats': '...",Female,Delilah,2020-07-21 13:17:11+00:00,Medium,adopted,2020-07-31 01:39:20+00:00,Dog,True,False,None,False,True
2,Adult,None,"{'children': 'None', 'dogs': 'None', 'cats': '...",Male,Red,2020-07-21 14:00:23+00:00,Extra Large,adoptable,2020-07-21 14:00:23+00:00,Dog,True,False,None,False,True
3,Young,None,"{'children': 'True', 'dogs': 'True', 'cats': '...",Male,Louie,2020-07-21 20:05:39+00:00,Medium,adopted,2020-07-26 15:50:42+00:00,Dog,True,True,None,False,True
4,Adult,Long,"{'children': 'None', 'dogs': 'None', 'cats': '...",Male,Kenny,2020-07-21 17:17:43+00:00,Medium,adopted,2020-07-23 16:00:20+00:00,Dog,True,True,None,False,True

In [5]:
values = [json.loads(value.replace("'", "\"")) for value in df['environment'].values]

df1 = json_normalize(values)
df1.head()

col = df.columns.difference(['environment'])
df = pd.concat([df[col], df1],axis=1)
df.head()

,age,coat,declawed,gender,house_trained,name,published_at,shots_current,size,spayed_neutered,special_needs,status,status_changed_at,type,children,dogs,cats
0,Young,Short,None,Male,True,Ruff,2020-07-21 20:52:42+00:00,True,Small,True,False,adopted,2020-08-16 18:21:00+00:00,Dog,None,True,None
1,Adult,Medium,None,Female,False,Delilah,2020-07-21 13:17:11+00:00,True,Medium,True,False,adopted,2020-07-31 01:39:20+00:00,Dog,None,None,None
2,Adult,None,None,Male,False,Red,2020-07-21 14:00:23+00:00,True,Extra Large,True,False,adoptable,2020-07-21 14:00:23+00:00,Dog,None,None,None
3,Young,None,None,Male,True,Louie,2020-07-21 20:05:39+00:00,True,Medium,True,False,adopted,2020-07-26 15:50:42+00:00,Dog,True,True,True
4,Adult,Long,None,Male,True,Kenny,2020-07-21 17:17:43+00:00,True,Medium,True,False,adopted,2020-07-23 16:00:20+00:00,Dog,None,None,None

In [6]:
df = df.loc[:, ['published_at', 'status_changed_at', 'status','type','name', 'gender','age', 'size', 'coat', 'house_trained', 'declawed', 'shots_current', 'spayed_neutered', 'special_needs', 'children', 'dogs', 'cats']]
df.head()

,published_at,status_changed_at,status,type,name,gender,age,size,coat,house_trained,declawed,shots_current,spayed_neutered,special_needs,children,dogs,cats
0,2020-07-21 20:52:42+00:00,2020-08-16 18:21:00+00:00,adopted,Dog,Ruff,Male,Young,Small,Short,True,None,True,True,False,None,True,None
1,2020-07-21 13:17:11+00:00,2020-07-31 01:39:20+00:00,adopted,Dog,Delilah,Female,Adult,Medium,Medium,False,None,True,True,False,None,None,None
2,2020-07-21 14:00:23+00:00,2020-07-21 14:00:23+00:00,adoptable,Dog,Red,Male,Adult,Extra Large,None,False,None,True,True,False,None,None,None
3,2020-07-21 20:05:39+00:00,2020-07-26 15:50:42+00:00,adopted,Dog,Louie,Male,Young,Medium,None,True,None,True,True,False,True,True,True
4,2020-07-21 17:17:43+00:00,2020-07-23 16:00:20+00:00,adopted,Dog,Kenny,Male,Adult,Medium,Long,True,None,True,True,False,None,None,None

In [7]:
time_in = df.iloc[0]['published_at']
time_in = datetime.datetime.strptime(time_in[0:10], "%Y-%m-%d")
time_in

datetime.datetime(2020, 7, 21, 0, 0)

In [8]:
time_out = df.iloc[0]['status_changed_at']
time_out = datetime.datetime.strptime(time_out[0:10], "%Y-%m-%d")
time_out

datetime.datetime(2020, 8, 16, 0, 0)

In [9]:
time_out - time_in

datetime.timedelta(days=26)

In [10]:
days_in_rescue = []

for i, value in enumerate(df['published_at']):
    time_in = df.iloc[i]['published_at']
    time_in = datetime.datetime.strptime(time_in[0:10], "%Y-%m-%d")
    time_out = df.iloc[i]['status_changed_at']
    time_out = datetime.datetime.strptime(time_out[0:10], "%Y-%m-%d")
    time_difference = time_out - time_in
    days_in_rescue.append(time_difference)

df['time_in_rescue'] = days_in_rescue
df.drop(['published_at', 'status_changed_at'], axis=1, inplace=True)
df.head()

,status,type,name,gender,age,size,coat,house_trained,declawed,shots_current,spayed_neutered,special_needs,children,dogs,cats,time_in_rescue
0,adopted,Dog,Ruff,Male,Young,Small,Short,True,None,True,True,False,None,True,None,26 days
1,adopted,Dog,Delilah,Female,Adult,Medium,Medium,False,None,True,True,False,None,None,None,10 days
2,adoptable,Dog,Red,Male,Adult,Extra Large,None,False,None,True,True,False,None,None,None,0 days
3,adopted,Dog,Louie,Male,Young,Medium,None,True,None,True,True,False,True,True,True,5 days
4,adopted,Dog,Kenny,Male,Adult,Medium,Long,True,None,True,True,False,None,None,None,2 days

In [11]:
df.drop(df[df.time_in_rescue == '0 days'].index, inplace=True)

In [45]:
df.head(9)

,status,type,name,gender,age,size,coat,house_trained,declawed,shots_current,spayed_neutered,special_needs,children,dogs,cats,time_in_rescue
0,adopted,Dog,Ruff,Male,Young,Small,Short,True,None,True,True,False,None,True,None,26 days
1,adopted,Dog,Delilah,Female,Adult,Medium,Medium,False,None,True,True,False,None,None,None,10 days
3,adopted,Dog,Louie,Male,Young,Medium,None,True,None,True,True,False,True,True,True,5 days
4,adopted,Dog,Kenny,Male,Adult,Medium,Long,True,None,True,True,False,None,None,None,2 days
5,adopted,Dog,Stormy,Male,Senior,Large,Medium,True,None,True,True,False,True,True,True,12 days
8,adopted,Dog,Jasper,Male,Adult,Small,None,True,None,True,True,False,True,True,None,3 days
10,adopted,Dog,Cricket,Female,Young,Medium,Short,True,None,True,True,False,False,False,None,5 days
12,adoptable,Dog,Maggie,Female,Young,Medium,None,False,None,True,True,False,None,True,None,23 days
13,adopted,Dog,Spotiana,Female,Young,Medium,Short,True,None,True,True,False,True,True,None,8 days

In [55]:
data1_bool = df.copy()
data1_bool['house_trained'] = data1_bool['house_trained'].map({'True': True, 'False': False})
data1_bool['shots_current'] = data1_bool['shots_current'].map({'True': True, 'False': False})
data1_bool['spayed_neutered'] = data1_bool['spayed_neutered'].map({'True': True, 'False': False})
data1_bool['children'] = data1_bool['children'].map({'True': True, 'None': False, 'False' : False})
data1_bool['dogs'] = data1_bool['dogs'].map({'True': True, 'None': False, 'False' : False})
data1_bool['cats'] = data1_bool['cats'].map({'True': True, 'None': False, 'False' : False})
data1_bool['declawed'] = data1_bool['declawed'].map({'True': True, 'None': False, 'False' : False})
data1_bool['special_needs'] = data1_bool['special_needs'].map({'True': True, 'None': False, 'False' : False})
data1_bool

for x in data1_bool['children'].values:
    print(type(x))

<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>
<class 'numpy.bool_'>

In [58]:
data1_bool["house_trained"] = data1_bool["house_trained"].astype(int)
data1_bool["shots_current"] = data1_bool["shots_current"].astype(int)
data1_bool["spayed_neutered"] = data1_bool["spayed_neutered"].astype(int)
data1_bool["declawed"] = data1_bool["declawed"].astype(int)
data1_bool["special_needs"] = data1_bool["special_needs"].astype(int)

In [59]:

data1_bool["children"] = data1_bool["children"].astype(int)
data1_bool["dogs"] = data1_bool["dogs"].astype(int)
data1_bool["cats"] = data1_bool["cats"].astype(int)

In [60]:
data1_bool

,status,type,name,gender,age,size,coat,house_trained,declawed,shots_current,spayed_neutered,special_needs,children,dogs,cats,time_in_rescue
0,adopted,Dog,Ruff,Male,Young,Small,Short,1,0,1,1,0,0,1,0,26 days
1,adopted,Dog,Delilah,Female,Adult,Medium,Medium,0,0,1,1,0,0,0,0,10 days
3,adopted,Dog,Louie,Male,Young,Medium,None,1,0,1,1,0,1,1,1,5 days
4,adopted,Dog,Kenny,Male,Adult,Medium,Long,1,0,1,1,0,0,0,0,2 days
5,adopted,Dog,Stormy,Male,Senior,Large,Medium,1,0,1,1,0,1,1,1,12 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
714,adopted,Dog,Anna in NH,Female,Baby,Medium,Short,0,0,1,1,0,1,1,1,3 days
715,adopted,Dog,Hattie,Female,Adult,Medium,None,0,0,0,0,0,0,0,0,9 days
717,adopted,Dog,Dina,Female,Young,Medium,Short,0,0,1,1,0,0,0,0,9 days
719,adopted,Dog,Omar,Male,Baby,Medium,Medium,1,0,1,1,0,0,1,0,26 days
721,adopted,Dog,Nova,Female,Adult,Small,Short,1,0,1,1,0,1,1,1,6 days

In [61]:
# check for missing data gives 0 missing data.

for index in range(len(df.index)) :
    print("Nan in row ", index , " : " ,  df.iloc[index].isna().mean())

Nan in row  0  :  0.0
Nan in row  1  :  0.0
Nan in row  2  :  0.0
Nan in row  3  :  0.0
Nan in row  4  :  0.0
Nan in row  5  :  0.0
Nan in row  6  :  0.0
Nan in row  7  :  0.0
Nan in row  8  :  0.0
Nan in row  9  :  0.0
Nan in row  10  :  0.0
Nan in row  11  :  0.0
Nan in row  12  :  0.0
Nan in row  13  :  0.0
Nan in row  14  :  0.0
Nan in row  15  :  0.0
Nan in row  16  :  0.0
Nan in row  17  :  0.0
Nan in row  18  :  0.0
Nan in row  19  :  0.0
Nan in row  20  :  0.0
Nan in row  21  :  0.0
Nan in row  22  :  0.0
Nan in row  23  :  0.0
Nan in row  24  :  0.0
Nan in row  25  :  0.0
Nan in row  26  :  0.0
Nan in row  27  :  0.0
Nan in row  28  :  0.0
Nan in row  29  :  0.0
Nan in row  30  :  0.0
Nan in row  31  :  0.0
Nan in row  32  :  0.0
Nan in row  33  :  0.0
Nan in row  34  :  0.0
Nan in row  35  :  0.0
Nan in row  36  :  0.0
Nan in row  37  :  0.0
Nan in row  38  :  0.0
Nan in row  39  :  0.0
Nan in row  40  :  0.0
Nan in row  41  :  0.0
Nan in row  42  :  0.0
Nan in row  43  :  0.0
Nan in row  44  :  0.0
Nan in row  45  :  0.0
Nan in row  46  :  0.0
Nan in row  47  :  0.0
Nan in row  48  :  0.0
Nan in row  49  :  0.0
Nan in row  50  :  0.0
Nan in row  51  :  0.0
Nan in row  52  :  0.0
Nan in row  53  :  0.0
Nan in row  54  :  0.0
Nan in row  55  :  0.0
Nan in row  56  :  0.0
Nan in row  57  :  0.0
Nan in row  58  :  0.0
Nan in row  59  :  0.0
Nan in row  60  :  0.0
Nan in row  61  :  0.0
Nan in row  62  :  0.0
Nan in row  63  :  0.0
Nan in row  64  :  0.0
Nan in row  65  :  0.0
Nan in row  66  :  0.0
Nan in row  67  :  0.0
Nan in row  68  :  0.0
Nan in row  69  :  0.0
Nan in row  70  :  0.0
Nan in row  71  :  0.0
Nan in row  72  :  0.0
Nan in row  73  :  0.0
Nan in row  74  :  0.0
Nan in row  75  :  0.0
Nan in row  76  :  0.0
Nan in row  77  :  0.0
Nan in row  78  :  0.0
Nan in row  79  :  0.0
Nan in row  80  :  0.0
Nan in row  81  :  0.0
Nan in row  82  :  0.0
Nan in row  83  :  0.0
Nan in row  84  :  0.0
Nan in row  85  :  0.0
Nan in row  86  :  0.0
Nan in row  87  :  0.0
Nan in row  88  :  0.0
Nan in row  89  :  0.0
Nan in row  90  :  0.0
Nan in row  91  :  0.0
Nan in row  92  :  0.0
Nan in row  93  :  0.0
Nan in row  94  :  0.0
Nan in row  95  :  0.0
Nan in row  96  :  0.0
Nan in row  97  :  0.0
Nan in row  98  :  0.0
Nan in row  99  :  0.0
Nan in row  100  :  0.0
Nan in row  101  :  0.0
Nan in row  102  :  0.0
Nan in row  103  :  0.0
Nan in row  104  :  0.0
Nan in row  105  :  0.0
Nan in row  106  :  0.0
Nan in row  107  :  0.0
Nan in row  108  :  0.0
Nan in row  109  :  0.0
Nan in row  110  :  0.0
Nan in row  111  :  0.0
Nan in row  112  :  0.0
Nan in row  113  :  0.0
Nan in row  114  :  0.0
Nan in row  115  :  0.0
Nan in row  116  :  0.0
Nan in row  117  :  0.0
Nan in row  118  :  0.0
Nan in row  119  :  0.0
Nan in row  120  :  0.0
Nan in row  121  :  0.0
Nan in row  122  :  0.0
Nan in row  123  :  0.0
Nan in row  124  :  0.0
Nan in row  125  :  0.0
Nan in row  126  :  0.0
Nan in row  127  :  0.0
Nan in row  128  :  0.0
Nan in row  129  :  0.0
Nan in row  130  :  0.0
Nan in row  131  :  0.0
Nan in row  132  :  0.0
Nan in row  133  :  0.0
Nan in row  134  :  0.0
Nan in row  135  :  0.0
Nan in row  136  :  0.0
Nan in row  137  :  0.0
Nan in row  138  :  0.0
Nan in row  139  :  0.0
Nan in row  140  :  0.0
Nan in row  141  :  0.0
Nan in row  142  :  0.0
Nan in row  143  :  0.0
Nan in row  144  :  0.0
Nan in row  145  :  0.0
Nan in row  146  :  0.0
Nan in row  147  :  0.0
Nan in row  148  :  0.0
Nan in row  149  :  0.0
Nan in row  150  :  0.0
Nan in row  151  :  0.0
Nan in row  152  :  0.0
Nan in row  153  :  0.0
Nan in row  154  :  0.0
Nan in row  155  :  0.0
Nan in row  156  :  0.0
Nan in row  157  :  0.0
Nan in row  158  :  0.0
Nan in row  159  :  0.0
Nan in row  160  :  0.0
Nan in row  161  :  0.0
Nan in row  162  :  0.0
Nan in row  163  :  0.0
Nan in row  164  :  0.0
Nan in row  165  :  0.0
Nan in row  166  :  0.0
Nan in row  167  :  0.0
Nan in row  168  :  0.0
Nan in row  169  :  0.0
Nan in row  170  :  0.0
Nan in row  171  :  0.0
Nan in row  172  :  0.0
Nan in row  173  :  0.0
Nan in row  174  :  0.0
Nan in row  175  :  0.0
Nan in row  176  :  0.0
Nan in row  177  :  0.0
Nan in row  178  :  0.0
Nan in row  179  :  0.0
Nan in row  180  :  0.0
Nan in row  181  :  0.0
Nan in row  182  :  0.0
Nan in row  183  :  0.0
Nan in row  184  :  0.0
Nan in row  185  :  0.0
Nan in row  186  :  0.0
Nan in row  187  :  0.0
Nan in row  188  :  0.0
Nan in row  189  :  0.0
Nan in row  190  :  0.0
Nan in row  191  :  0.0
Nan in row  192  :  0.0
Nan in row  193  :  0.0
Nan in row  194  :  0.0
Nan in row  195  :  0.0
Nan in row  196  :  0.0
Nan in row  197  :  0.0
Nan in row  198  :  0.0
Nan in row  199  :  0.0
Nan in row  200  :  0.0
Nan in row  201  :  0.0
Nan in row  202  :  0.0
Nan in row  203  :  0.0
Nan in row  204  :  0.0
Nan in row  205  :  0.0
Nan in row  206  :  0.0
Nan in row  207  :  0.0
Nan in row  208  :  0.0
Nan in row  209  :  0.0
Nan in row  210  :  0.0
Nan in row  211  :  0.0
Nan in row  212  :  0.0
Nan in row  213  :  0.0
Nan in row  214  :  0.0
Nan in row  215  :  0.0
Nan in row  216  :  0.0
Nan in row  217  :  0.0
Nan in row  218  :  0.0
Nan in row  219  :  0.0
Nan in row  220  :  0.0
Nan in row  221  :  0.0
Nan in row  222  :  0.0
Nan in row  223  :  0.0
Nan in row  224  :  0.0
Nan in row  225  :  0.0
Nan in row  226  :  0.0
Nan in row  227  :  0.0
Nan in row  228  :  0.0
Nan in row  229  :  0.0
Nan in row  230  :  0.0
Nan in row  231  :  0.0
Nan in row  232  :  0.0
Nan in row  233  :  0.0
Nan in row  234  :  0.0
Nan in row  235  :  0.0
Nan in row  236  :  0.0
Nan in row  237  :  0.0
Nan in row  238  :  0.0
Nan in row  239  :  0.0
Nan in row  240  :  0.0
Nan in row  241  :  0.0
Nan in row  242  :  0.0
Nan in row  243  :  0.0
Nan in row  244  :  0.0
Nan in row  245  :  0.0
Nan in row  246  :  0.0
Nan in row  247  :  0.0
Nan in row  248  :  0.0
Nan in row  249  :  0.0
Nan in row  250  :  0.0
Nan in row  251  :  0.0
Nan in row  252  :  0.0
Nan in row  253  :  0.0
Nan in row  254  :  0.0
Nan in row  255  :  0.0
Nan in row  256  :  0.0
Nan in row  257  :  0.0
Nan in row  258  :  0.0
Nan in row  259  :  0.0
Nan in row  260  :  0.0
Nan in row  261  :  0.0
Nan in row  262  :  0.0
Nan in row  263  :  0.0
Nan in row  264  :  0.0
Nan in row  265  :  0.0
Nan in row  266  :  0.0
Nan in row  267  :  0.0
Nan in row  268  :  0.0
Nan in row  269  :  0.0
Nan in row  270  :  0.0
Nan in row  271  :  0.0
Nan in row  272  :  0.0
Nan in row  273  :  0.0
Nan in row  274  :  0.0
Nan in row  275  :  0.0
Nan in row  276  :  0.0
Nan in row  277  :  0.0
Nan in row  278  :  0.0
Nan in row  279  :  0.0
Nan in row  280  :  0.0
Nan in row  281  :  0.0
Nan in row  282  :  0.0
Nan in row  283  :  0.0
Nan in row  284  :  0.0
Nan in row  285  :  0.0
Nan in row  286  :  0.0
Nan in row  287  :  0.0
Nan in row  288  :  0.0
Nan in row  289  :  0.0
Nan in row  290  :  0.0
Nan in row  291  :  0.0
Nan in row  292  :  0.0
Nan in row  293  :  0.0
Nan in row  294  :  0.0
Nan in row  295  :  0.0
Nan in row  296  :  0.0
Nan in row  297  :  0.0
Nan in row  298  :  0.0
Nan in row  299  :  0.0
Nan in row  300  :  0.0
Nan in row  301  :  0.0
Nan in row  302  :  0.0
Nan in row  303  :  0.0
Nan in row  304  :  0.0
Nan in row  305  :  0.0
Nan in row  306  :  0.0
Nan in row  307  :  0.0
Nan in row  308  :  0.0
Nan in row  309  :  0.0
Nan in row  310  :  0.0
Nan in row  311  :  0.0
Nan in row  312  :  0.0
Nan in row  313  :  0.0
Nan in row  314  :  0.0
Nan in row  315  :  0.0
Nan in row  316  :  0.0
Nan in row  317  :  0.0
Nan in row  318  :  0.0
Nan in row  319  :  0.0
Nan in row  320  :  0.0
Nan in row  321  :  0.0
Nan in row  322  :  0.0
Nan in row  323  :  0.0
Nan in row  324  :  0.0
Nan in row  325  :  0.0
Nan in row  326  :  0.0
Nan in row  327  :  0.0
Nan in row  328  :  0.0
Nan in row  329  :  0.0
Nan in row  330  :  0.0
Nan in row  331  :  0.0
Nan in row  332  :  0.0
Nan in row  333  :  0.0
Nan in row  334  :  0.0
Nan in row  335  :  0.0
Nan in row  336  :  0.0
Nan in row  337  :  0.0
Nan in row  338  :  0.0
Nan in row  339  :  0.0
Nan in row  340  :  0.0
Nan in row  341  :  0.0
Nan in row  342  :  0.0
Nan in row  343  :  0.0
Nan in row  344  :  0.0
Nan in row  345  :  0.0
Nan in row  346  :  0.0
Nan in row  347  :  0.0
Nan in row  348  :  0.0
Nan in row  349  :  0.0
Nan in row  350  :  0.0
Nan in row  351  :  0.0
Nan in row  352  :  0.0
Nan in row  353  :  0.0
Nan in row  354  :  0.0
Nan in row  355  :  0.0
Nan in row  356  :  0.0
Nan in row  357  :  0.0
Nan in row  358  :  0.0
Nan in row  359  :  0.0
Nan in row  360  :  0.0
Nan in row  361  :  0.0
Nan in row  362  :  0.0
Nan in row  363  :  0.0
Nan in row  364  :  0.0
Nan in row  365  :  0.0
Nan in row  366  :  0.0
Nan in row  367  :  0.0
Nan in row  368  :  0.0
Nan in row  369  :  0.0
Nan in row  370  :  0.0
Nan in row  371  :  0.0
Nan in row  372  :  0.0
Nan in row  373  :  0.0
Nan in row  374  :  0.0
Nan in row  375  :  0.0
Nan in row  376  :  0.0
Nan in row  377  :  0.0
Nan in row  378  :  0.0
Nan in row  379  :  0.0
Nan in row  380  :  0.0
Nan in row  381  :  0.0
Nan in row  382  :  0.0
Nan in row  383  :  0.0
Nan in row  384  :  0.0
Nan in row  385  :  0.0
Nan in row  386  :  0.0
Nan in row  387  :  0.0
Nan in row  388  :  0.0
Nan in row  389  :  0.0
Nan in row  390  :  0.0
Nan in row  391  :  0.0
Nan in row  392  :  0.0
Nan in row  393  :  0.0
Nan in row  394  :  0.0
Nan in row  395  :  0.0
Nan in row  396  :  0.0
Nan in row  397  :  0.0
Nan in row  398  :  0.0
Nan in row  399  :  0.0
Nan in row  400  :  0.0
Nan in row  401  :  0.0
Nan in row  402  :  0.0
Nan in row  403  :  0.0
Nan in row  404  :  0.0
Nan in row  405  :  0.0
Nan in row  406  :  0.0
Nan in row  407  :  0.0
Nan in row  408  :  0.0
Nan in row  409  :  0.0
Nan in row  410  :  0.0
Nan in row  411  :  0.0
Nan in row  412  :  0.0
Nan in row  413  :  0.0
Nan in row  414  :  0.0
Nan in row  415  :  0.0
Nan in row  416  :  0.0
Nan in row  417  :  0.0
Nan in row  418  :  0.0
Nan in row  419  :  0.0
Nan in row  420  :  0.0
Nan in row  421  :  0.0
Nan in row  422  :  0.0
Nan in row  423  :  0.0
Nan in row  424  :  0.0
Nan in row  425  :  0.0
Nan in row  426  :  0.0
Nan in row  427  :  0.0
Nan in row  428  :  0.0
Nan in row  429  :  0.0
Nan in row  430  :  0.0
Nan in row  431  :  0.0

In [66]:
for i in df['time_in_rescue'].values:
    print(i)

2246400000000000 nanoseconds
864000000000000 nanoseconds
432000000000000 nanoseconds
172800000000000 nanoseconds
1036800000000000 nanoseconds
259200000000000 nanoseconds
432000000000000 nanoseconds
1987200000000000 nanoseconds
691200000000000 nanoseconds
1555200000000000 nanoseconds
1123200000000000 nanoseconds
86400000000000 nanoseconds
432000000000000 nanoseconds
1641600000000000 nanoseconds
604800000000000 nanoseconds
259200000000000 nanoseconds
691200000000000 nanoseconds
345600000000000 nanoseconds
345600000000000 nanoseconds
259200000000000 nanoseconds
172800000000000 nanoseconds
345600000000000 nanoseconds
1728000000000000 nanoseconds
2505600000000000 nanoseconds
1382400000000000 nanoseconds
777600000000000 nanoseconds
691200000000000 nanoseconds
2160000000000000 nanoseconds
950400000000000 nanoseconds
604800000000000 nanoseconds
864000000000000 nanoseconds
259200000000000 nanoseconds
864000000000000 nanoseconds
691200000000000 nanoseconds
86400000000000 nanoseconds
2160000000000000 nanoseconds
604800000000000 nanoseconds
950400000000000 nanoseconds
432000000000000 nanoseconds
259200000000000 nanoseconds
86400000000000 nanoseconds
345600000000000 nanoseconds
259200000000000 nanoseconds
432000000000000 nanoseconds
1728000000000000 nanoseconds
86400000000000 nanoseconds
86400000000000 nanoseconds
2332800000000000 nanoseconds
432000000000000 nanoseconds
432000000000000 nanoseconds
691200000000000 nanoseconds
259200000000000 nanoseconds
2419200000000000 nanoseconds
2073600000000000 nanoseconds
2073600000000000 nanoseconds
1209600000000000 nanoseconds
691200000000000 nanoseconds
345600000000000 nanoseconds
518400000000000 nanoseconds
432000000000000 nanoseconds
777600000000000 nanoseconds
777600000000000 nanoseconds
518400000000000 nanoseconds
518400000000000 nanoseconds
259200000000000 nanoseconds
86400000000000 nanoseconds
518400000000000 nanoseconds
172800000000000 nanoseconds
86400000000000 nanoseconds
691200000000000 nanoseconds
604800000000000 nanoseconds
86400000000000 nanoseconds
345600000000000 nanoseconds
86400000000000 nanoseconds
777600000000000 nanoseconds
1728000000000000 nanoseconds
432000000000000 nanoseconds
864000000000000 nanoseconds
345600000000000 nanoseconds
345600000000000 nanoseconds
1209600000000000 nanoseconds
1814400000000000 nanoseconds
2160000000000000 nanoseconds
1728000000000000 nanoseconds
1209600000000000 nanoseconds
345600000000000 nanoseconds
259200000000000 nanoseconds
1900800000000000 nanoseconds
345600000000000 nanoseconds
86400000000000 nanoseconds
1036800000000000 nanoseconds
86400000000000 nanoseconds
86400000000000 nanoseconds
345600000000000 nanoseconds
432000000000000 nanoseconds
518400000000000 nanoseconds
172800000000000 nanoseconds
950400000000000 nanoseconds
1900800000000000 nanoseconds
691200000000000 nanoseconds
1814400000000000 nanoseconds
172800000000000 nanoseconds
691200000000000 nanoseconds
1382400000000000 nanoseconds
345600000000000 nanoseconds
950400000000000 nanoseconds
432000000000000 nanoseconds
518400000000000 nanoseconds
432000000000000 nanoseconds
259200000000000 nanoseconds
518400000000000 nanoseconds
604800000000000 nanoseconds
345600000000000 nanoseconds
1728000000000000 nanoseconds
864000000000000 nanoseconds
777600000000000 nanoseconds
345600000000000 nanoseconds
259200000000000 nanoseconds
1987200000000000 nanoseconds
2160000000000000 nanoseconds
604800000000000 nanoseconds
1641600000000000 nanoseconds
1036800000000000 nanoseconds
259200000000000 nanoseconds
432000000000000 nanoseconds
1123200000000000 nanoseconds
604800000000000 nanoseconds
518400000000000 nanoseconds
345600000000000 nanoseconds
1209600000000000 nanoseconds
604800000000000 nanoseconds
950400000000000 nanoseconds
1900800000000000 nanoseconds
604800000000000 nanoseconds
1555200000000000 nanoseconds
432000000000000 nanoseconds
432000000000000 nanoseconds
345600000000000 nanoseconds
777600000000000 nanoseconds
345600000000000 nanoseconds
2073600000000000 nanoseconds
1900800000000000 nanoseconds
777600000000000 nanoseconds
432000000000000 nanoseconds
518400000000000 nanoseconds
1987200000000000 nanoseconds
432000000000000 nanoseconds
86400000000000 nanoseconds
518400000000000 nanoseconds
950400000000000 nanoseconds
864000000000000 nanoseconds
86400000000000 nanoseconds
1555200000000000 nanoseconds
1296000000000000 nanoseconds
345600000000000 nanoseconds
864000000000000 nanoseconds
777600000000000 nanoseconds
432000000000000 nanoseconds
432000000000000 nanoseconds
432000000000000 nanoseconds
1209600000000000 nanoseconds
1296000000000000 nanoseconds
2246400000000000 nanoseconds
345600000000000 nanoseconds
86400000000000 nanoseconds
1209600000000000 nanoseconds
432000000000000 nanoseconds
1209600000000000 nanoseconds
777600000000000 nanoseconds
172800000000000 nanoseconds
950400000000000 nanoseconds
1987200000000000 nanoseconds
1209600000000000 nanoseconds
345600000000000 nanoseconds
604800000000000 nanoseconds
1123200000000000 nanoseconds
604800000000000 nanoseconds
1209600000000000 nanoseconds
604800000000000 nanoseconds
777600000000000 nanoseconds
86400000000000 nanoseconds
604800000000000 nanoseconds
1036800000000000 nanoseconds
950400000000000 nanoseconds
1209600000000000 nanoseconds
777600000000000 nanoseconds
604800000000000 nanoseconds
259200000000000 nanoseconds
345600000000000 nanoseconds
86400000000000 nanoseconds
1641600000000000 nanoseconds
1987200000000000 nanoseconds
1641600000000000 nanoseconds
1555200000000000 nanoseconds
1900800000000000 nanoseconds
2332800000000000 nanoseconds
2073600000000000 nanoseconds
172800000000000 nanoseconds
518400000000000 nanoseconds
777600000000000 nanoseconds
86400000000000 nanoseconds
777600000000000 nanoseconds
1036800000000000 nanoseconds
604800000000000 nanoseconds
950400000000000 nanoseconds
1382400000000000 nanoseconds
1296000000000000 nanoseconds
518400000000000 nanoseconds
432000000000000 nanoseconds
1900800000000000 nanoseconds
691200000000000 nanoseconds
1209600000000000 nanoseconds
864000000000000 nanoseconds
345600000000000 nanoseconds
1382400000000000 nanoseconds
172800000000000 nanoseconds
777600000000000 nanoseconds
1900800000000000 nanoseconds
2073600000000000 nanoseconds
2073600000000000 nanoseconds
1036800000000000 nanoseconds
691200000000000 nanoseconds
86400000000000 nanoseconds
1468800000000000 nanoseconds
518400000000000 nanoseconds
1123200000000000 nanoseconds
691200000000000 nanoseconds
604800000000000 nanoseconds
1209600000000000 nanoseconds
1900800000000000 nanoseconds
1209600000000000 nanoseconds
86400000000000 nanoseconds
1036800000000000 nanoseconds
432000000000000 nanoseconds
604800000000000 nanoseconds
172800000000000 nanoseconds
86400000000000 nanoseconds
691200000000000 nanoseconds
777600000000000 nanoseconds
1900800000000000 nanoseconds
345600000000000 nanoseconds
2073600000000000 nanoseconds
259200000000000 nanoseconds
1555200000000000 nanoseconds
345600000000000 nanoseconds
1468800000000000 nanoseconds
86400000000000 nanoseconds
259200000000000 nanoseconds
259200000000000 nanoseconds
864000000000000 nanoseconds
1036800000000000 nanoseconds
259200000000000 nanoseconds
777600000000000 nanoseconds
259200000000000 nanoseconds
777600000000000 nanoseconds
777600000000000 nanoseconds
259200000000000 nanoseconds
259200000000000 nanoseconds
518400000000000 nanoseconds
864000000000000 nanoseconds
172800000000000 nanoseconds
1382400000000000 nanoseconds
1296000000000000 nanoseconds
1468800000000000 nanoseconds
518400000000000 nanoseconds
864000000000000 nanoseconds
604800000000000 nanoseconds
950400000000000 nanoseconds
864000000000000 nanoseconds
172800000000000 nanoseconds
777600000000000 nanoseconds
172800000000000 nanoseconds
86400000000000 nanoseconds
1123200000000000 nanoseconds
1555200000000000 nanoseconds
1209600000000000 nanoseconds
1123200000000000 nanoseconds
172800000000000 nanoseconds
345600000000000 nanoseconds
518400000000000 nanoseconds
1123200000000000 nanoseconds
172800000000000 nanoseconds
2073600000000000 nanoseconds
345600000000000 nanoseconds
1641600000000000 nanoseconds
950400000000000 nanoseconds
86400000000000 nanoseconds
864000000000000 nanoseconds
86400000000000 nanoseconds
86400000000000 nanoseconds
172800000000000 nanoseconds
604800000000000 nanoseconds
518400000000000 nanoseconds
2332800000000000 nanoseconds
432000000000000 nanoseconds
345600000000000 nanoseconds
432000000000000 nanoseconds
172800000000000 nanoseconds
518400000000000 nanoseconds
345600000000000 nanoseconds
172800000000000 nanoseconds
518400000000000 nanoseconds
777600000000000 nanoseconds
1123200000000000 nanoseconds
1123200000000000 nanoseconds
86400000000000 nanoseconds
259200000000000 nanoseconds
86400000000000 nanoseconds
1555200000000000 nanoseconds
1382400000000000 nanoseconds
691200000000000 nanoseconds
86400000000000 nanoseconds
259200000000000 nanoseconds
259200000000000 nanoseconds
777600000000000 nanoseconds
1382400000000000 nanoseconds
518400000000000 nanoseconds
259200000000000 nanoseconds
518400000000000 nanoseconds
518400000000000 nanoseconds
86400000000000 nanoseconds
1209600000000000 nanoseconds
345600000000000 nanoseconds
2419200000000000 nanoseconds
2073600000000000 nanoseconds
1468800000000000 nanoseconds
1900800000000000 nanoseconds
1814400000000000 nanoseconds
172800000000000 nanoseconds
950400000000000 nanoseconds
172800000000000 nanoseconds
518400000000000 nanoseconds
518400000000000 nanoseconds
2073600000000000 nanoseconds
2073600000000000 nanoseconds
86400000000000 nanoseconds
345600000000000 nanoseconds
518400000000000 nanoseconds
1468800000000000 nanoseconds
172800000000000 nanoseconds
1468800000000000 nanoseconds
1036800000000000 nanoseconds
172800000000000 nanoseconds
864000000000000 nanoseconds
86400000000000 nanoseconds
1209600000000000 nanoseconds
259200000000000 nanoseconds
864000000000000 nanoseconds
259200000000000 nanoseconds
1468800000000000 nanoseconds
2073600000000000 nanoseconds
259200000000000 nanoseconds
691200000000000 nanoseconds
432000000000000 nanoseconds
777600000000000 nanoseconds
777600000000000 nanoseconds
86400000000000 nanoseconds
777600000000000 nanoseconds
864000000000000 nanoseconds
777600000000000 nanoseconds
1555200000000000 nanoseconds
1036800000000000 nanoseconds
1209600000000000 nanoseconds
432000000000000 nanoseconds
172800000000000 nanoseconds
1641600000000000 nanoseconds
777600000000000 nanoseconds
345600000000000 nanoseconds
1728000000000000 nanoseconds
1987200000000000 nanoseconds
259200000000000 nanoseconds
86400000000000 nanoseconds
1296000000000000 nanoseconds
1209600000000000 nanoseconds
345600000000000 nanoseconds
259200000000000 nanoseconds
604800000000000 nanoseconds
345600000000000 nanoseconds
432000000000000 nanoseconds
86400000000000 nanoseconds
432000000000000 nanoseconds
345600000000000 nanoseconds
86400000000000 nanoseconds
345600000000000 nanoseconds
345600000000000 nanoseconds
518400000000000 nanoseconds
259200000000000 nanoseconds
345600000000000 nanoseconds
432000000000000 nanoseconds
86400000000000 nanoseconds
1814400000000000 nanoseconds
2073600000000000 nanoseconds
1468800000000000 nanoseconds
1382400000000000 nanoseconds
604800000000000 nanoseconds
1209600000000000 nanoseconds
950400000000000 nanoseconds
345600000000000 nanoseconds
777600000000000 nanoseconds
1296000000000000 nanoseconds
345600000000000 nanoseconds
1900800000000000 nanoseconds
864000000000000 nanoseconds
432000000000000 nanoseconds
1209600000000000 nanoseconds
777600000000000 nanoseconds
86400000000000 nanoseconds
604800000000000 nanoseconds
1900800000000000 nanoseconds
86400000000000 nanoseconds
432000000000000 nanoseconds
691200000000000 nanoseconds
345600000000000 nanoseconds
86400000000000 nanoseconds
432000000000000 nanoseconds
1209600000000000 nanoseconds
1209600000000000 nanoseconds
950400000000000 nanoseconds
864000000000000 nanoseconds
2073600000000000 nanoseconds
604800000000000 nanoseconds
172800000000000 nanoseconds
2073600000000000 nanoseconds
259200000000000 nanoseconds
345600000000000 nanoseconds
86400000000000 nanoseconds
86400000000000 nanoseconds
259200000000000 nanoseconds
777600000000000 nanoseconds
777600000000000 nanoseconds
2246400000000000 nanoseconds
518400000000000 nanoseconds