In [1]:
# steps to complete:
# 1) import libraries
# 2) import dataset
# 3) convert JSON data to columns
# 4) rearrange columns
# 5) create new column of time difference between in and out
# 6) define x and y
# 7) split data in training and test data

In [2]:
import numpy as np
import pandas as pd
import json
import matplotlib.pyplot as plt
from pandas import json_normalize
import datetime
import typing
import time

In [3]:
df = pd.read_csv("pet-adoption.csv")
df.drop(['id', 'organization_id', 'url', 'species','organization_animal_id','tags', 'photos','primary_photo_cropped', 'videos', 'distance', 'contact', '_links', 'description', 'breeds', 'colors'], axis=1, inplace=True)
df.head()

,type,age,gender,size,coat,attributes,environment,name,status,status_changed_at,published_at
0,Dog,Young,Male,Small,Short,"{'spayed_neutered': 'True', 'house_trained': '...","{'children': 'None', 'dogs': 'True', 'cats': '...",Ruff,adopted,2020-08-16 18:21:00+00:00,2020-07-21 20:52:42+00:00
1,Dog,Adult,Female,Medium,Medium,"{'spayed_neutered': 'True', 'house_trained': '...","{'children': 'None', 'dogs': 'None', 'cats': '...",Delilah,adopted,2020-07-31 01:39:20+00:00,2020-07-21 13:17:11+00:00
2,Dog,Adult,Male,Extra Large,None,"{'spayed_neutered': 'True', 'house_trained': '...","{'children': 'None', 'dogs': 'None', 'cats': '...",Red,adoptable,2020-07-21 14:00:23+00:00,2020-07-21 14:00:23+00:00
3,Dog,Young,Male,Medium,None,"{'spayed_neutered': 'True', 'house_trained': '...","{'children': 'True', 'dogs': 'True', 'cats': '...",Louie,adopted,2020-07-26 15:50:42+00:00,2020-07-21 20:05:39+00:00
4,Dog,Adult,Male,Medium,Long,"{'spayed_neutered': 'True', 'house_trained': '...","{'children': 'None', 'dogs': 'None', 'cats': '...",Kenny,adopted,2020-07-23 16:00:20+00:00,2020-07-21 17:17:43+00:00

In [4]:
values = [json.loads(value.replace("'", "\"")) for value in df['attributes'].values]
df1 = json_normalize(values)
df1.head()

col = df.columns.difference(['attributes'])
df = pd.concat([df[col], df1],axis=1)
df.head()

,age,coat,environment,gender,name,published_at,size,status,status_changed_at,type,spayed_neutered,house_trained,declawed,special_needs,shots_current
0,Young,Short,"{'children': 'None', 'dogs': 'True', 'cats': '...",Male,Ruff,2020-07-21 20:52:42+00:00,Small,adopted,2020-08-16 18:21:00+00:00,Dog,True,True,None,False,True
1,Adult,Medium,"{'children': 'None', 'dogs': 'None', 'cats': '...",Female,Delilah,2020-07-21 13:17:11+00:00,Medium,adopted,2020-07-31 01:39:20+00:00,Dog,True,False,None,False,True
2,Adult,None,"{'children': 'None', 'dogs': 'None', 'cats': '...",Male,Red,2020-07-21 14:00:23+00:00,Extra Large,adoptable,2020-07-21 14:00:23+00:00,Dog,True,False,None,False,True
3,Young,None,"{'children': 'True', 'dogs': 'True', 'cats': '...",Male,Louie,2020-07-21 20:05:39+00:00,Medium,adopted,2020-07-26 15:50:42+00:00,Dog,True,True,None,False,True
4,Adult,Long,"{'children': 'None', 'dogs': 'None', 'cats': '...",Male,Kenny,2020-07-21 17:17:43+00:00,Medium,adopted,2020-07-23 16:00:20+00:00,Dog,True,True,None,False,True

In [5]:
values = [json.loads(value.replace("'", "\"")) for value in df['environment'].values]

df1 = json_normalize(values)
df1.head()

col = df.columns.difference(['environment'])
df = pd.concat([df[col], df1],axis=1)
df.head()

,age,coat,declawed,gender,house_trained,name,published_at,shots_current,size,spayed_neutered,special_needs,status,status_changed_at,type,children,dogs,cats
0,Young,Short,None,Male,True,Ruff,2020-07-21 20:52:42+00:00,True,Small,True,False,adopted,2020-08-16 18:21:00+00:00,Dog,None,True,None
1,Adult,Medium,None,Female,False,Delilah,2020-07-21 13:17:11+00:00,True,Medium,True,False,adopted,2020-07-31 01:39:20+00:00,Dog,None,None,None
2,Adult,None,None,Male,False,Red,2020-07-21 14:00:23+00:00,True,Extra Large,True,False,adoptable,2020-07-21 14:00:23+00:00,Dog,None,None,None
3,Young,None,None,Male,True,Louie,2020-07-21 20:05:39+00:00,True,Medium,True,False,adopted,2020-07-26 15:50:42+00:00,Dog,True,True,True
4,Adult,Long,None,Male,True,Kenny,2020-07-21 17:17:43+00:00,True,Medium,True,False,adopted,2020-07-23 16:00:20+00:00,Dog,None,None,None

In [6]:
df = df.loc[:, ['published_at', 'status_changed_at', 'status','type','name', 'gender','age', 'size', 'coat', 'house_trained', 'declawed', 'shots_current', 'spayed_neutered', 'special_needs', 'children', 'dogs', 'cats']]
df.head()

,published_at,status_changed_at,status,type,name,gender,age,size,coat,house_trained,declawed,shots_current,spayed_neutered,special_needs,children,dogs,cats
0,2020-07-21 20:52:42+00:00,2020-08-16 18:21:00+00:00,adopted,Dog,Ruff,Male,Young,Small,Short,True,None,True,True,False,None,True,None
1,2020-07-21 13:17:11+00:00,2020-07-31 01:39:20+00:00,adopted,Dog,Delilah,Female,Adult,Medium,Medium,False,None,True,True,False,None,None,None
2,2020-07-21 14:00:23+00:00,2020-07-21 14:00:23+00:00,adoptable,Dog,Red,Male,Adult,Extra Large,None,False,None,True,True,False,None,None,None
3,2020-07-21 20:05:39+00:00,2020-07-26 15:50:42+00:00,adopted,Dog,Louie,Male,Young,Medium,None,True,None,True,True,False,True,True,True
4,2020-07-21 17:17:43+00:00,2020-07-23 16:00:20+00:00,adopted,Dog,Kenny,Male,Adult,Medium,Long,True,None,True,True,False,None,None,None

In [7]:
time_in = df.iloc[0]['published_at']
time_in = datetime.datetime.strptime(time_in[0:10], "%Y-%m-%d")
time_in

datetime.datetime(2020, 7, 21, 0, 0)

In [8]:
time_out = df.iloc[0]['status_changed_at']
time_out = datetime.datetime.strptime(time_out[0:10], "%Y-%m-%d")
time_out

datetime.datetime(2020, 8, 16, 0, 0)

In [9]:
time_out - time_in

datetime.timedelta(days=26)

In [10]:
days_in_rescue = []

for i, value in enumerate(df['published_at']):
    time_in = df.iloc[i]['published_at']
    time_in = datetime.datetime.strptime(time_in[0:10], "%Y-%m-%d")
    time_out = df.iloc[i]['status_changed_at']
    time_out = datetime.datetime.strptime(time_out[0:10], "%Y-%m-%d")
    time_difference = time_out - time_in
    days_in_rescue.append(time_difference)

df['time in rescue'] = days_in_rescue
df.drop(['published_at', 'status_changed_at'], axis=1, inplace=True)
df.head()

,status,type,name,gender,age,size,coat,house_trained,declawed,shots_current,spayed_neutered,special_needs,children,dogs,cats,time in rescue
0,adopted,Dog,Ruff,Male,Young,Small,Short,True,None,True,True,False,None,True,None,26 days
1,adopted,Dog,Delilah,Female,Adult,Medium,Medium,False,None,True,True,False,None,None,None,10 days
2,adoptable,Dog,Red,Male,Adult,Extra Large,None,False,None,True,True,False,None,None,None,0 days
3,adopted,Dog,Louie,Male,Young,Medium,None,True,None,True,True,False,True,True,True,5 days
4,adopted,Dog,Kenny,Male,Adult,Medium,Long,True,None,True,True,False,None,None,None,2 days